@import "./header/header-style.scss";
@import "./pages/home-page/home-page-style.scss";
@import "./pages/register-page/register.scss";
@import "./pages/pc-builder-page/pc-builder-page.scss";
@import "./pages/profile-page/profile";
@import "./pages/profile-page/pc-builds-list/pc-builds-list";
@import "./pages/profile-page/favourites-list/favourites-list";

.app-container {
  max-width: 100%;
  padding: 0;
}

input:focus {
  border-bottom: 1px solid rgb(18, 190, 41) !important;
  box-shadow: 0 1px 0 0 rgb(18, 190, 41);
}
label {
  &.active {
    color: rgb(18, 190, 41) !important;
  }
}
i {
  &.active {
    color: rgb(18, 190, 41) !important;
  }
}
